<mat-toolbar color="primary">
  <span><img src="/assets/images/logo.png" height="30" width="41"></span>
  <a mat-button routerLink='/home' routerLinkActive="active"><span class="fa fa-home fa-lg"></span> home</a>
  <a mat-button routerLink='/aboutus' routerLinkActive="active"><span class="fa fa-info fa-lg"></span> About</a>
  <a mat-button routerLink="/epidemic" routerLinkActive="active"><span class="fa fa-list fa-lg"></span> Epidemics</a>
  <a mat-button routerLink="/contactus" routerLinkActive="active"><span class="fa fa-address-card fa-lg"></span> Contact</a>
  <span class="flex-spacer"></span>
  <!-- <a mat-button (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"></span> Login</a> -->
</mat-toolbar>

<div class="container jumbotron"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.xs="start center"
  fxLayoutAlign.sm="start center"
  fxLayoutAlign.gt-sm="center center"
  fxLayoutGap="10px">

 <div fxFlex fxFlex.gt-sm="50%">
  <h1>Epidemic Talk (epiTalk)</h1>
  <p>Cholera, bubonic plague, smallpox, and influenza are some of the 
    most brutal killers in human history. And outbreaks of these 
    diseases across international borders, are properly defined as
     pandemic, especially smallpox, which throughout history, 
     has killed between 300-500 million people in its 12,000 year existence.!</p>
 </div>
 <div fxFlex fxFlex.gt-sm="20%">
  <img src="/assets/images/logo.png" alt="Logo">
 </div>
 <div fxFlex>       
 </div>
</div>