<div class="container"
    fxLayout="column"
    fxLayoutGap="10px">

    <div fxFlex>
        <div>
            <h3>Epidemics</h3>
            <hr>
        </div>
    </div>

    <div fxFlex *ngIf="epidemics" [@expand]>
        <mat-grid-list cols="2" rowHeight="200px">
            <mat-grid-tile *ngFor="let epidemic of epidemics" [routerLink]="['/epidemicdetail',epidemic.id]" appHighlight>
                <img height="200px" src="{{BaseURL + epidemic.image}}" alt={{epidemic.name}}>
                <mat-grid-tile-footer>
                    <h1>{{epidemic.name | uppercase}}</h1>
                </mat-grid-tile-footer>
                
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div [hidden]="epidemics || errMess">
        <mat-spinner></mat-spinner><h4>Loading ...Please wait</h4>
    </div>
    <div fxFlex *ngIf="errMess">
        <h2>Error</h2>
        <h4>{{errMess}}</h4>
    </div>
    
    


</div>