<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  
    <div fxFlex="40" *ngIf="epidemic" [@visibility]="visibility" [@expand]>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h3 *ngIf="epidemic">{{epidemic.name | uppercase}}</h3>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{BaseURL + epidemic.image}}" alt={{epidemic.name}}>
            <mat-card-content>
                <p>{{epidemic.description }}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button [routerLink]="['/epidemicdetail', prev]">
                    <span class="fa fa-chevron-left fa-lg"></span></button>
                <button mat-button (click)="goBack()">BACK</button>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
                <span class="flex-spacer"></span>
                <button mat-button [routerLink]="['/epidemicdetail', next]">
                    <span class="fa fa-chevron-right fa-lg"></span></button>
            </mat-card-actions>
        </mat-card>
    </div>
    
  

  <div fxFlex="40" *ngIf="epidemic" [@visibility]="visibility" [@expand]>    
    <mat-list> 
        <h3 matLine>Opinions</h3>            
    
        <mat-list-item *ngFor="let commentItem of epidemic.comments">          
          <h1 matLine>{{commentItem.comment}} </h1>
          <h1 matLine> Severity {{commentItem.rating}}  </h1>
          <p matLine> <span>-- {{commentItem.author}} {{commentItem.date | date}} </span></p>
          
        </mat-list-item>
        <mat-list-item *ngIf="commentForm.valid">
            <p mat-line>
              <span> {{comment.comment}} </span>
            </p>
            <p mat-line>
              <span> {{comment.rating}} Stars</span>
            </p>
            <p mat-line>
              <span> -- {{comment.author}}</span>
            </p>
          </mat-list-item>
      </mat-list>
      
        <form novalidate [formGroup]="commentForm" #cform="ngForm" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field class="full-width">
                    <input matInput formControlName="author" placeholder="Name" type="text" required>
                    <mat-error *ngIf="formErrors.author">
                        {{formErrors.author}}
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-slider formControlName="rating" thumbLabel tickInterval="1" min="1" max="5" step="1" value="5"></mat-slider>  
            </p>
            <p>
                <mat-form-field class="full-width">
                  <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12></textarea>
                  <mat-error *ngIf="formErrors.comment">
                    {{formErrors.comment}}
                  </mat-error>
                </mat-form-field>
              </p>
              <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
        </form>
      
  </div>
  
  <div [hidden]="epidemic || errMess">
        <mat-spinner></mat-spinner><h4>Loading ...Please wait</h4>
  </div>
  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
   <h4>{{errMess}}</h4>
  </div>

  

</div>